/*==========================================STYLE FÜR DIE STARTSEITE===============================================*/
/*                                               >>>index.php<<<                                                  */

/*=====Body Startseite=====*/
.start_body {
    background-color: #ffffff;
    padding: 0 176px;
    margin: 0;
    font-family: "Geom", sans-serif;
}

/*=====Überschrift Startseite=====*/
.headerStart {
    display: flex;
    align-items: center;
    gap: 20px;
    text-shadow: 1px 1px #fca311;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: inset 0px 0px 50px 30px white;
    color: #fca311;

}

.startImage {
    height: 170px;
    width: auto;
    margin-right: -110px;
    margin-left: -110px;

}

/*===============Navigationsleiste Startseite===============*/
nav {
    background-color: #14213d;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: -40px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/*=====Unordered List Style=====*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

/*=====List items style=====*/
nav li {
    margin-right: 0px;
}

/*=====Anchor style=====*/
nav a {
    color: #EBF4DD;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

/*=====Hover style=====*/
nav a:hover {
    background-color: #fca311;
    border-radius: 15px
}

/*===============Bilder Startseite===============*/

.bilder {
    background-color: #14213d;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.bilder img {
    /* Bild füllt die Kachelbreite */
    width: 100%;

    /* Feste Höhe erzwingen */
    height: 200px;

    /* Schneidet das Bild zu, statt es zu verzerren */
    object-fit: cover;

    /* Abgerundete Ecken */
    border-radius: 15px;

    /* Leichter Schatten */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Für den Hover-Effekt */
    transition: transform 0.3s ease;


}

.bilder img:hover {
    transform: scale(1.02);

}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*===============Suchformular Startseite===============*/

.suchformular {
    max-width: 500px;
    background-color: #14213d;
    border: 1px;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    
}

.suchformular label {
    color: white;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 600;
}

.suchformular input[type="text"] {
    padding: 9px;
    border-radius: 15px;
    border: 1px;
    background-color: #EBF4DD;
    box-sizing: border-box;
    width: 100%;

}

.suchformular button {
    border-radius: 15px;
    border: 1px;
    padding: 5px;
    margin-top: 20px;
    font-family: "Geom", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.suchformular button:hover {
    background-color: #fca311;
}

/*===============Buttons Startseite===============*/

.abrufbuttons {
    display: flex;
    gap: 15px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.btn {
    padding: 5px 10px;
    font-family: "Geom", sans-serif;
    border-radius: 15px;
    border: 1px;
    font-size: 18px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #fca311;
}






























































