
/* Style für den body der Startseite*/
body {
    padding: 0 240px;
    font-family: Arial, Helvetica, sans-serif;
}



/* Style für die Navigationsleiste der Startseite*/
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav a:hover {
    background-color: #575757;
}

.buttonresult {
    list-style-type: none;
    
}